<nav class="navbar navbar-expand-lg navbar-light bg-faded" role="navigation">
  <a class="navbar-brand" href="#">ngType Tester</a>

  <ul class="nav navbar-nav" *ngIf="userService.user !== undefined">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [translate]="'NAVIGATION.HOME'"></a>
    </li>
    <li class="nav-item">
      <a routerLink="/typing-test" routerLinkActive="active" class="nav-link" [translate]="'NAVIGATION.TEST'"></a>
    </li>
    <li class="nav-item">
      <a routerLink="/results" routerLinkActive="active" class="nav-link" [translate]="'NAVIGATION.RESULTS'"></a>
    </li>
    <li class="nav-item">
      <a routerLink="/configuration" routerLinkActive="active" class="nav-link" [translate]="'NAVIGATION.CONFIGURATION'"></a>
    </li>
  </ul>
</nav>
