<nav class="navbar navbar-light navbar-static bg-faded" role="navigation">
  <a class="navbar-brand" href="#">ngType Tester</a>

  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="" [translate]="'NAVIGATION.HOME'"></a>
    </li>
  </ul>

  <!-- insert more nav-items if you so choose -->
  <button class="navbar-toggler ml-auto" id="navbarSideButton" type="button" (click)="toggle()">
    <span class="navbar-toggler-icon small"></span>
  </button>

  <div class="navbar-side" [ngClass]="{ 'reveal': show }">
    <button class="navbar-toggler close" (click)="toggle()">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul id="navbarSide">
      <li class="navbar-side-item" *ngIf="userService.user === undefined">
        <a routerLink="" class="side-link" [translate]="'NAVIGATION.SIGNUP'">Signup</a>
      </li>
      <li class="navbar-side-item" *ngIf="userService.user !== undefined">
        <a routerLink="" class="side-link" (click)="toggle(); logout();" [translate]="'NAVIGATION.LOGOUT'"></a>
      </li>
      <li class="navbar-side-item">
          <a routerLink="/configuration" class="side-link" (click)="toggle();" [translate]="'NAVIGATION.CONFIGURATION'"></a>
        </li>
    </ul>
  </div>
</nav>
