<div class="container">
  <div class="jumbotron jumbotron-fluid rounded">
    <div class="container">
      <h1 [translate]="'PAGES.HOME.TITLE'"></h1>
      <p class="lead" [translate]="'PAGES.HOME.LEAD'"></p>
    </div>
  </div>

  <div class="bg-light rounded p-2" *ngIf="userService.user">
    <h3 [translate]="'PAGES.HOME.GREETING'" [translateParams]="{name: userService.user.name}">
    </h3>

    <div class="text-center mt-4 mb-4">
      <a routerLink="/typing-test" class="btn btn-lg btn-primary" [translate]="'PAGES.HOME.BTN_TAKE_TEST'"></a>
    </div>

    <p>
      <a routerLink="/results" [translate]="'PAGES.HOME.GOTO_TEST'"></a>
    </p>

  </div>

  <div class="user-login-container bg-light rounded p-2" *ngIf="!userService.user">
    <user-logon></user-logon>
  </div>
</div>
