<div class="container">
  <div class="row">
    <div class="col-md">
      <h1 *ngIf="!userService.user">
        {{ 'PAGES.HOME.TITLE' | translate }}
        <small>
          First time here?
        </small>
      </h1>
      <h1 *ngIf="userService.user">
          {{ 'PAGES.HOME.TITLE' | translate }}
          <small>
            Good to see you again {{userService.user.name}}
          </small>
        </h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div *ngIf="userService.user">
      Welcome {{userService.user.name}}
    </div>
    <user-editor *ngIf="!userService.user"></user-editor>
  </div>
</div>
