<div class="container">
  <div class="jumbotron jumbotron-fluid rounded">
    <div class="container">
      <h1 [translate]="'PAGES.HOME.TITLE'"></h1>
      <p class="lead">Tying speed and acuracy test using Wikipedia articles!</p>
    </div>
  </div>

  <div class="bg-light rounded p-2" *ngIf="userService.user">
    <h3 [translate]="'PAGES.HOME.GREETING'" [translateParams]="{name: userService.user.name}">
    </h3>

    <p class="mt-4 mb-4">
      You can pick up where you left off or
      <a routerLink="/results">Look at Previous Results</a>
    </p>
    <div class="text-center">
      <a routerLink="/typing-test" class="btn btn-lg btn-primary" [translate]="'PAGES.HOME.BTN_TAKE_TEST'">Take Typing Test</a>
    </div>
  </div>

  <div class="user-login-container bg-light rounded p-2" *ngIf="!userService.user">
    <user-logon></user-logon>
  </div>
</div>
