@import "../../../../variables";

.wrapper {
  display: grid;
  grid-template-columns: auto 300px;
  grid-gap: 1rem;
  grid-auto-rows: minmax(3rem, auto);
}

.test-text-container {
  grid-column: 1;
  grid-row: 1;
}

.test-user-input-container {
  grid-column: 1;
  grid-row: 2;
}

.test-status-container {
  grid-column: 2;
  grid-row: span 2;

}

.card.bg-success {
  color: $white;
  &, h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}
