@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Set the default background
$body-bg: #263238;

$navbar-light-color: #879699;

$theme-colors: (
  "warning": #fbc02d,
  "danger": #e53935
);
