@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.text-highlight-tag {
  &.bad-word {
    background-color: $danger;
  }
}
