@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.text-highlight-tag {
  &.bad-word {
    background-color: $danger;
  }
}

.card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.card-title {
      color: $gray-900;
    }
    color: $gray-700;
  }
  color: $gray-900;

  label {
    display: initial;
  }

  .badge {
    padding: map-get($spacers, 2) map-get($spacers, 3);
  }
}
